.g-button-wrapper {
  height: 35px;
  padding: 0 20px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
  border-bottom: 1px solid #dae0e4;
  display: flex;
  align-items: center;
}
.g-button {
  font-size: 14px;
  line-height: 14px;
  padding:  5px 8px;
  margin-left: 5px;
  border: 0;
  color: #a1a5b8;
  background: inherit;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  i {
    font-size: 16px;
  }
  &:hover {
    color: #3c8fff;
    background: #cfe3ff;
  }
}
