/* sider 高度百分之百 */
.ivu-layout.ivu-layout-has-sider{  
    height: 100%;
}
.ivu-layout-footer{
    padding: 0;
    text-align: center;
}
.ivu-layout-header{
    background-color: transparent;
}
/* table样式 */
.ivu-table th{
    background-color: rgb(229,229,229);
}
