@charset "utf-8";
@import "./pagination.scss";
@import "./g-button.scss";
html{
    font-size: 16px;
    user-select: none;
}
/* 设定所有元素为边框盒 */
*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
/* 将所有的元素设置统一边距 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}


/* 使table元素的边框合并 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* 去掉列表元素的默认样式 */
ul,dl,ol,li,dl,dt{
    list-style: none;
}
a{
    text-decoration: none;
}

//滚动条样式
.scroll {
    &::-webkit-scrollbar {
      width: 0.3rem;
      // background:#00FFE6;
      box-shadow: 0rem 0.01rem 0.01rem 0rem rgba(1, 69, 132, 0.5);
      border-radius: 0.08rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0.08rem;
      background: #e4e5e6;
      box-shadow: 0px 1px 3px 0px rgba(44, 47, 49, 0.4);
    }

    /*滚动条的上下两端的按钮*/
    &::-webkit-scrollbar-button {
      height: 16px;
    }
  }
.zt-scroll-y{
    overflow-y: scroll;
    overflow-x: hidden;
    @extend .scroll;
}
/* 设置height*/
.h100{
    height: 100%;
}
.h90{
    height: 90%;
}
.h80{
    height: 80%;
}
.h20{
    height: 20%;
}
.h10{
    height:10%;
}
// width
.w100{
    width: 100%;
}
// letter spacing
.let-spc{
    letter-spacing: 0.25rem;
}
// 文本居中
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
// flex
.flex{
    display: flex;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-sb {
    justify-content: space-between;
    align-items: center;
  }
.flex-sa {
    justify-content: space-around;
    align-items: center;
  }
.flex-center{
    justify-content: center;
    align-items: center;
}
//   margin
.mg{
    margin: 0.625rem;
}
.ml{
    margin-left: .625rem;
}
.mr{
    margin-right: .625rem;
}
.ml-lg{
    margin-left: 1.25rem;
}
.mr-lg{
    margin-right: 1.25rem;
}
.mt{
    margin-top: .625rem;
}
.mt-lg{
    margin-top: 1.25rem;
}
.mb{
    margin-bottom: .625rem;
}
//padding
.pd{
    padding: .625rem;
}
.pd-lg{
    padding: 1.25rem;
}
// position
.position-r{
    position: relative;
}
.position-a-b-c{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.position-a-c{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50% -50%);
}
.position-a{
    position: absolute;
}

// 字體大小
.fs16{
    font-size: 1rem;
}
.fs20{
    font-size: 1.25rem;
}
.fs30{
    font-size:1.875rem;
}
//   文字颜色
.text-blue{
    color: #2d8cf0;
}
.text-darkgrey{
    color: rgba(0,0,0,0.75);
}
.text-normal{
    color: #999db2;
}
.text-blue{
    color: #3c8fff;
}
.text-red{
    color: red;
}
// 鼠标hover显示手指
.cursor-pointer{
    cursor: pointer;
}
// 过度
.transition{
    transition: all 0.2s linear;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-hidden-x{
    overflow-x: hidden;
}
// 白底
.bg-white{
    background-color: #fff;
}
// 抽屉框底部footer
.drawer-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: center;
  background: #fff;
  :first-child {
    margin-right: 8px;
  }
}
