@charset "utf-8";
/* 设定所有元素为边框盒 */
*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
/* 将所有的元素设置统一边距 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
/* 使table元素的边框合并 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* 去掉列表元素的默认样式 */
ul,dl,ol,li,dl,dt{
    list-style: none;
}
a{
    text-decoration: none;
}
/* 设置height*/
.h100{
    height: 100%;
}
.h90{
    height: 90%;
}
.h80{
    height: 80%;
}
.h20{
    height: 20%;
}
.h10{
    height:10%;
}
// width
.w100{
    width: 100%;
}
// letter spacing
.let-spc{
    letter-spacing: 0.25rem;
}
// 文本居中
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
// flex
.flex{
    display: flex;
}
.flex-sb {
    justify-content: space-between;
    align-items: center;
  }
.flex-center{
    justify-content: center;
    align-items: center;
}
//   margin
.ml{
    margin-left: 10px;
}
.mr{
    margin-right: 10px;
}
.ml-lg{
    margin-left: 20px;
}
.mr-lg{
    margin-right: 20px;
}
//padding
.pd{
    padding: 10px;
}
.pd-lg{
    padding: 20px;
}
// position
.position-r{
    position: relative;
}
.position-a-b-c{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.scroll-y{
    overflow-y: scroll;
    overflow-x: hidden;
}
// 字體大小
.fs16{
    font-size: 1rem;
}